head {
}

header {
	background:white;
}

html {
	background: linear-gradient(#414259,#39659a);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	min-height: 1000px;
}

select{
	width:50px;
}

body {
	color: black;
	background-color: transparent;

}

p {
	text-align: center;
}

select {
	width: 100%;
	height: 40px;
}

input{
	width: 100%;
	height: 40px;
}

icon {
	text-align:left;
}

.smallselect{
	width: 85%;
}


.button {
	width: 50%;
	text-align:center;
	background-color: #414259;
	color: white;
}

.largebutton {
	width: 50%;
	text-align:center;
	background-color: #414259;
	color: white;
}

.largerbutton {
	width: 100%;
	text-align:center;
	background-color: #414259;
	color: white;
}


.content{
	height: 850px;
	background:white;
	border-radius: 25px;
}

.offset{
	margin-top: 200px;
}

.row{
	padding-bottom: 30px;
}

.show-password {
	margin-left: -45px;
	color: rgb(238, 238, 238);
}
.forgot-password {
	position: absolute;
	/*bottom: 100px;*/
	margin-left: -130px;
	margin-top: 10px;
	color: rgb(238, 238, 238);
	width: 120px;
}

hr {
	border: solid 1px gray;
}

.login-page {
	text-align:center;
}
/*
.border {
	border: solid 1px #efefef;
	box-shadow:0px 0px 4px 4px #f9f9f9;
}
*/

/*
	admin nav bar css
*/

.navbar {
	min-height: 100px;
}

.navbar-brand {
    float: left;
    height: 60px;
    padding: 0px;
    line-height: 20px;
}

.container-fluid{
	background-color: transparent;

}

.nav-font{
	font-size:20px;
	color:white;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
	position:absolute;
}
.admin-nav-font {
	font-size:18px;
	color:black;
}

.subnav {
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #ffffff;
}

.subnav:hover {
	border-bottom-color: #3fbfe6;

}

.current-nav-bold {
	color: #3366BB;
}

.current-nav-list {
	border-bottom-color: #3fbfe6;
}

.admin-nav-font-logout {
	font-size:18px;
	color:black;
	align:right;
}

.header-row {
	padding-bottom: 0px;
}

/*
	Company information page
*/

.admin-input {
	width: 85%;
}

.upload-log-image {
	margin-top: 25px;
	margin-left: 20px;
}

.upload-logo {
	border: solid 1px black; 
	width: 30%;
	height: 100px;
	margin-left: 15px;
}

.upload-logo-text {
	color: #D3D3D3;
	border-color: black;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	width: 45%;
	height: 100px;
}

.upload-button {
	width: 125px;
	height: 25px;
	font-size: 12px;
	color: white;
	background: #00aced;
}

.add-button {
	border: solid 1px #00aced;
	background: white;
	color: #00aced;
	width: 125px;
}

.plus-icon {
	position: absolute;;
	width: 25px;
	height: 25px;
	top: -10px;
	left: 125px;
}

hr {
	margin-top: 0px; 
	margin-bottom: 20px;
}

.upload-success {
	display: none; 
	color: black;
}