<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="img/logo.png" height=70 width=70></a>
    </div>
    <ul class="nav navbar-nav navbar-right nav-font">
      <li><a href="downloads.html"><b class="nav-font">DOWNLOADS</b></a></li>
      <li><a href="support.html"><b class="nav-font">SUPPORT</b></a></li>
      <li><a href="legal.html"><b class="nav-font">LEGAL</b></a></li>
      <li><a href="news.html"><b class="nav-font">NEWS</b></a></li>
      <li><a href="login.html"><b class="nav-font">SIGN IN</b></a></li>
    </ul>
  </div>
</nav>
