<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="img/logo.png" height=70 width=70></a>
    </div>
    <ul class="nav navbar-nav navbar-right nav-font">
      <li><a href="#"><b class="nav-font">Downloads</b></a></li>
      <li><a href="#"><b class="nav-font">User Guides</b></a></li>
      <li><a href="#"><b class="nav-font">Cloud Sync</b></a></li>
      <li><a href="#"><b class="nav-font">Support</b></a></li>
      <li><a href="#"><b class="nav-font">News</b></a></li>
    </ul>
  </div>
</nav>
